<div
  class="flex flex-col bg-white border border-gray-300 p-4 rounded-lg shadow-md w-96 h-full"
>
  <div class="mb-4">
    <h2 class="text-xl font-bold">
      <a
        [href]="repo.html_url"
        target="_blank"
        class="text-blue-500 hover:underline"
        >{{ repo.name }}</a
      >
    </h2>
  </div>
  <p class="flex-grow text-sm text-gray-700 mb-4">
    {{ repo.description || "No description" }}
  </p>
  <ul class="list-none text-sm text-gray-600 mb-4">
    <li>Language: {{ repo.language || "N/A" }}</li>
    <li>Forks: {{ repo.forks_count }}</li>
    <li>Watchers: {{ repo.watchers_count }}</li>
  </ul>

  <div *ngIf="repo.topics && repo.topics.length > 0" class="mt-4">
    <div
      *ngFor="let topic of repo.topics"
      class="inline-block bg-blue-500 text-white px-2 py-1 mr-2 mb-2 rounded"
    >
      {{ topic }}
    </div>
  </div>
</div>
